# Base de données
DB_HOST=127.0.0.1
DB_NAME=toile
DB_USER=root
DB_PASS=

# Environnement
APP_ENV=development

# Stripe
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

# PHP Mailer
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=Toile

# OAUth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Commission
DEFAULT_COMMISSION_RATE=10

# Tirage au sort
RAFFLE_PRICE=500
RAFFLE_MAX_WINNERS=10
CRON_SECRET=